@import "../core/variables.scss";

.tarea-formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tarea-input{
    width: 350px;
    height: 50px;
    font-size: 18px;
    background-color: $color1;
    padding: 4px 32px 14px 4px;
    border: 2px solid white;
    outline: none;
}
.tarea-boton{
    padding: 16px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    background-color: orange;
    color: aliceblue;
    text-transform: capitalize;
    margin-left: 15px;
    
}